<h1>Edit photo</h1>

<form action="http://localhost:3000//update_photo/<%=@photo.id%>/">
  <label for="">Caption:</label>
  <input type="text" name="the_caption" value="<%= @photo.caption %>">

  <div>
    <label for="">Image URL:</label>
    <input type="text" name="the_source" value="<%= @photo.source %>">
  </div>

  <button>Update Photo</button>
</form>
