<h1>Edit photo</h1>
<form action="/update_photo/<%= @photo.id %>">
  <lable for="caption">Caption:</lable>
  <input type="text" id="caption" name="new_caption" value="<%=  @photo.caption %>">

  <div><lable for="image_url">Image URL:</lable>
    <input type="text" id="image_url" name="new_source" value="<%=  @photo.source %>">
  </div>

    <button>Update Photo</button>
  </form>
