<h1>Add new photo</h1>
<form action="/create_photo">
  <label>Caption:</label>
  <input type = "text" name="the_caption">

  <div><label>Source:</label>
    <input type = "text" name="the_source"></div>
    
    <button>Create Photo</button>
  </form>
