<h1> Add a new photo </h1>

<form action="http://localhost:3000/create_photo">
  <label name="the_caption">Caption:</label>
  <input name="the_caption" type="text" placeholder="Write your caption here">

  <label name="the_source">Source:</label>
  <input name="the_source" type="text" placeholder="Paste URL here">

  <button>Create Photo</button>

</form>
