<h1>Add a new photo</h1>

<form action="/create_photo">
  <lable>Caption:</lable>
  <input type="text" name="the_caption">
  <br>

  <lable>Image URL:</lable>
  <input type="text" name="the_source">
  <br>

  <button>Create Photo</button>
</form>
