<h1>Add A New photo</h1>

<form action="http://localhost:3000/create_row">


<label>Caption:</label>
<input type="text" name="The_Caption" value="">

<label>Image URL:</label>
<input type="text" name="The_Source" value="">

<button> Create Photo </button>
</form>
