<h1>Add A New photo</h1>
<form action="/create_photo">
  <label for="caption">Caption:</label>
  <input type="text" id="caption" name="caption">

  <div><label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="source"></div>

    <button>Create Photo</button>
  </form>
