<h1> Add a new photo </h1>

<form action="http://localhost:3000/create_photo">
  <label for="caption">Caption:</label>
  <input id="caption" name="the_caption" type="text" placeholder="Write your caption here">

  <label for="source">Source:</label>
  <input id = "source" name="the_source" type="text" placeholder="Paste URL here">

  <button>Create Photo</button>

</form>
