<h1>Edit</h1>







<!-- <form action="http://localhost:3000/update_photo/4">
   <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" name="the_caption" value = "<%= @editimage.caption %>"> >
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="the_source" value = "<%= @editimage.source %>"> >
  </div>
  <div>
    <button>Update Photo</button>
  </div>
</form> -->


<!-- <form action="http://localhost:3000/update_photo/<%= photo.id %>">  -->
